<DOCTYPE! html>
<html lang="en">
<head>
	<title>Live Jazz Calendar</title>
</head>
<body>
	<div class="row top-spaced">
        <div class="col-md-3">
          <%= render "layouts/add_event" %> 
        </div>
        <div class="col-md-9"> 
          <%= render "layouts/calendar" %>
        </div>
      </div>
</body>
</html>
