<br/>
<div id="main_calendar">
  <%= @events_by_date %>
  <%= calendar do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
    <ul>
      <% @events_by_date[date].each do |event| %>
      <li><%= link_to event.event_name, event %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>